<button><slot /></button>

<style>
  button {
    border: none;
    background-color: var(--primary);
    color: white;
    min-width: 200px;
    height: 50px;
    border-radius: 0.5rem;
    font-size: 1.1rem;
    padding: 0 0.9rem;
    cursor: pointer;
  }

  button:hover {
    opacity: 0.9;
  }
</style>
