<footer>
  <section class="footer-container">
    <p class="brand">© 2023 Academy Access </p>
  </section>
</footer>

<style>
  footer {
    width: 100%;
    background-color: #042f2e;
    min-height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .brand {
    color: white;
  }

  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: var(--desktop-breakpoint);
    width: 100%;
    padding: 0 0.8rem;
  }
</style>
