---
import { Image } from "astro:assets";
import logo from "../../assets/logo.png";
---

<header>
  <section class="header-container">
    <span></span>
    <a href="/" class="site-title">
      <Image src={logo} width={45} alt="E-commerce Logo" />
       AcademyAccess
    </a>

    <button class="cart-icon">
      <svg
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"
        ></path>
      </svg>
    </button>
  </section>
</header>

<style>
  header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui, sans-serif;
    background-color: var(--front-background);
    border-bottom: 1px solid var(--background);
  }

  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: var(--desktop-breakpoint);
    width: 100%;
    padding: 0 0.8rem;
  }

  .site-title {
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  .site-title {
    color: var(--secondary);
    font-size: 1.2rem;
  }

  .site-title img {
    margin-right: 0.5rem;
  }

  .cart-icon {
    border: 0;
    background-color: var(--front-background);
    cursor: pointer;
    color: var(--primary);
    width: 2.8rem;
    height: 2.8rem;
  }

  .cart-icon:hover {
    opacity: 0.7;
  }
</style>
