---
import { Image } from "astro:assets";
import logo from "../../assets/logo.png";
import CartCounter from "./CartCounter";
---

<header>
  <section class="header-container">
    <span></span>
    <a href="/" class="site-title">
      <Image src={logo} width={45} alt="E-commerce Logo" />
       AcademyAccess
    </a>

    <CartCounter client:load />
  </section>
</header>

<style>
  header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui, sans-serif;
    background-color: var(--front-background);
    border-bottom: 1px solid var(--background);
  }

  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: var(--desktop-breakpoint);
    width: 100%;
    padding: 0 0.8rem;
  }

  .site-title {
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  .site-title {
    color: var(--secondary);
    font-size: 1.2rem;
  }

  .site-title img {
    margin-right: 0.5rem;
  }
</style>
