---

---

<div class="hero-card">
  <div class="hero-card__container">
    <h1>Academy Access</h1>
    <p class="hero-card__text">
      Notre site offre une sélection exclusive de ressources éducatives,
      d'outils innovants et de produits soigneusement sélectionnés pour enrichir
      votre parcours de formation.
    </p>
  </div>
</div>

<style>
  .hero-card {
    width: 100%;
    height: 20rem;
    border-radius: 0.5rem;
    background-image: url("/images/academy-access-background.png");
    background-size: cover;
    background-position: center;
  }

  .hero-card__container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
    padding: 4rem;
  }

  h1 {
    color: white;
    text-align: center;
  }

  .hero-card__text {
    width: 100%;
    color: white;
    font-size: 1.3rem;
    border-radius: 0.5rem;
    text-align: center;
  }

  @media only screen and (max-width: 600px) {
    .hero-card__text {
      font-size: 1.1rem;
    }
  }
</style>
